* {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
textarea {
  border: none;
  overflow: auto;
  outline: none;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(216, 201, 156, 1) 0%,
    rgba(192, 154, 204, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
}

.comment-box {
  display: flex;
  flex-direction: column;
}
.comment-form {
  display: flex;
  margin-top: 10rem;
  align-items: center;
  flex-direction: column;
}
.comment-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.comment-input {
  padding: 1em;
  width: 25em;
  height: 10em;
}
.comment-item {
  margin-left: 8px;
  padding: 10px;
}
.comment.selected {
  /* border-radius: 50%; */
  background-color: #fff;
  box-shadow: 0 0 20px 0px #fff, /* inner white */ 0 0 30px 0px #f0f,
    /* middle magenta */ 0 0 50px 10px #0ff; /* outer cyan */
}
.comment {
  display: flex;
  justify-content: space-between;
}
.comment-button {
  background: rgb(59, 214, 216);
  /* color: rgba(16, 16, 16); */
  background: linear-gradient(
    0deg,
    rgba(59, 214, 216, 0.5) 0%,
    rgba(243, 0, 255, 0.5) 100%
  );
}
