* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
textarea,
input {
  border: none;
  overflow: auto;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(216, 201, 156, 1) 0%,
    rgba(192, 154, 204, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  justify-content: center;
}

.comment-box {
  display: flex;
  flex-direction: column;
}
.comment-form {
  display: flex;
  margin-top: 10rem;
  align-items: center;
  flex-direction: column;
}
.comment-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.comment-textarea {
  padding: 1em;
  width: 25em;
  height: 10em;
}
.comment-item {
  line-height: 20px;
  margin-left: 8px;
  padding: 10px;
}
.comment.selected {
  background-color: #fff;
  box-shadow: 0 0 20px 0px #fff, 0 0 30px 0px #f0f, 0 0 50px 10px #0ff;
}
.comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 40px;
}
.comment-input {
  line-height: 20px;
  padding: 10px;
  margin-left: 8px;
  background: transparent;
  width: inherit;
}
.comment-button-container {
  display: flex;
}
.comment-button {
  padding: 4px;
  border: none;
  background: rgb(59, 214, 216);

  background: linear-gradient(
    0deg,
    rgba(59, 214, 216, 0.5) 0%,
    rgba(243, 0, 255, 0.5) 100%
  );
}
